.welcome-label {
    -fx-text-fill: white;
    -fx-font-size: 90px;
    -fx-font-weight: bold;
    -fx-padding: 0;
    -fx-alignment: top-left;
    -fx-translate-y: -100;
    -fx-translate-x: -100;
}
.tile {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #000000;
    -fx-border-width: 2px;
    -fx-padding: 10px;
}